{% extends "base.html" %}
{# esto es un cometario #}
{% block pageBase %}


<table>
    <tr>
        <th>fecha</th>
        <th>concepto</th>
        <th>monto</th>
    </tr>      
    <tr>
        <th>1/02/2026</th>
        <th>Salario</th>
        <th>1271</th>
    </tr>
    <tr>
        <td>4/02/2026</td>
        <td>Gasto en alimentos</td>
        <td>-300</td>
    </tr>
    <tr>
        <td>3/2/2026</td>
        <td>Gasto en ropa</td>
        <td>-150</td>
    </tr>
</table>
<a href="/new" >Nuevo Registro</a>
{% endblock %}